
.main-map {
    background: url("/svg/main/main-map.svg"), right, no-repeat;
    background-size: contain;

    .container {
        padding-top: 64px;
        padding-bottom: 44px;
    }

    &__header {
        margin-bottom: 48px;
        font-size: 40px;
    }

    .main-map-shops {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &__item.active {
            border-bottom: 3px solid $green;
        }

        &__item {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 171px;
            display: flex;
            height: 97px;
            box-sizing: border-box;
            width: 100%;
            padding: 20px 10px;
            background: #fff;
            margin-right: 20px;
            margin-bottom: 20px;
            text-align: center;

            img {
                display: table;
                margin: auto;
            }

            p {
                display: table;
                margin: auto;
                font-weight: bold;
                font-size: 14px;
                line-height: 12px;
                text-align: center;
                color: $black;
            }
        }

        &__item:nth-of-type(3) {
            margin-right: 0;
        }
    }
}

.main-delivery {
    background: #fff;

    .container {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    &__header {
        margin-bottom: 16px;
    }

    &__after-header {
        font-weight: normal;
        font-size: 16px;
        line-height: 14px;
        color: $black;
        margin-bottom: 48px;
    }

    .main-delivery-card {
        padding: 30px 32px;
        background: #fff;
        width: 100%;
        height: 440px;

        &__header {
            font-weight: bold;
            font-size: 20px;
            line-height: 22px;
            margin-bottom: 16px;
        }

        &__text {
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
        }
    }

    .main-delivery-card-grey {
        background: $grey;

        p {
            color: $black;
        }
    }

    .main-delivery-card-yellow {
        background: $yellow;

        p {
            color: #FFFFFF;
        }
    }

    .main-delivery-card-dark-grey {
        background: $dark-grey;

        p {
            color: #FFFFFF;
        }
    }
}

.main-sales {
    background: $light-grey;

    .container {
        padding-top: 67px;
        padding-bottom: 37px;
    }

    &__header {
        margin-bottom: 48px;
    }

    .main-sales-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &__header {
            font-weight: bold;
            font-size: 16px;
            line-height: 14px;
            color: $black;
            margin-bottom: 7px;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        &__text {
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: #252524;
        }

        &__item {
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
            background: $light-yellow;
            margin-bottom: 20px;
            margin-right: 20px;
            height: 177px;
            max-width: 206px;
            width: 100%;
            padding: 24px;
        }

        .main-sales-cards__item:last-of-type {
            margin-right: 0;
        }
    }
}

.main-steps {
    background: #fff;

    .container {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    &__header {
        margin-bottom: 48px;
    }

    .main-steps-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        &__col {
            max-width: 285px;
            width: 100%;
        }

        &__header {
            font-weight: bold;
            font-size: 20px;
            line-height: 22px;
            color: $black;
            margin-bottom: 16px;
            max-width: 90%;
        }

        &__text {
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: $black;
            margin-bottom: 0;
        }

        &__img {
            position: relative;
            margin-bottom: 32px;

            img {
                max-width: 235px;
                border-radius: 50%;
                margin-right: auto;
            }
        }

        &__badge {
            position: absolute;
            font-weight: bold;
            font-size: 16px;
            line-height: 14px;
            text-align: center;
            color: $black;
            max-width: 140px;
            width: 100%;
            padding: 14px 25px;
            border-radius: 8px;
            background: $light-yellow;
            left: 0;
            bottom: 16px;
        }
    }
}

.main-qa {
    background: #fff;

    .accordion {
        margin-bottom: 30px;
    }

    .container {
        padding-top: 64px;
        padding-bottom: 34px;
    }

    &__header {
        margin-bottom: 48px;
    }

    &__small {
        font-weight: normal;
        font-size: 16px;
        line-height: 14px;
        color: #989898;
        margin-bottom: 16px;
    }

    .main-qa-card {
        background: $light-grey;
        margin-bottom: 4px;

        &__header:not(.collapsed) {
            img {
                transform: rotate(180deg);
            }
        }

        &__header.collapsed {
            img {
                transform: rotate(0);
            }
        }

        &__header {

            padding: 29px 32px;

            header {
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                color: $black;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                img {
                    transition: 145ms ease-in-out;
                    padding-left: 25px;
                    align-self: flex-start;
                }
            }
        }

        &__body {
            padding: 0 80px 32px 32px;

            p {
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
                color: $black;
                margin-bottom: 0;
            }

            a {
                font-weight: bold;
                font-size: 14px;
                line-height: 18px;
                text-decoration-line: underline;
                color: $black;
            }


        }

        &__social {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            a {
                width: 42px;
                height: 42px;
                padding: 9px;
                text-align: center;
                background: #9F9F9F;
                border-radius: 8px;
                margin-right: 16px;
                display: flex;
            }
        }

        &__contacts {
            margin-bottom: 16px !important;
        }
    }

}
