main {
    .floating-label {
        .form-control-container {
            .form-control {
                padding-top: 29px;
                padding-bottom: 11px;
            }

            label {
                -webkit-transition: 0.2s ease all;
                -o-transition: 0.2s ease all;
                transition: 0.2s ease all;
                position: absolute;
                left: 20px;
                bottom: 0;
                width: 100%;
                pointer-events: none;
                top: 15px;

                font-weight: normal;
                font-size: 14px;
                color: $secondary-gray;
            }

            .form-control:focus ~ label {
                top: 9px;
                font-size: 11px !important;

            }

            .form-control:not(:placeholder-shown) ~ label {
                top: 9px;
                font-size: 11px !important;
            }

            .form-control.dirty ~ label {
                top: 9px;
                font-size: 11px !important;
            }

            .form-control.is-invalid {
                border-color: $red;
            }

            .form-control.is-invalid ~ label {
                color: $red;
            }

            .form-control.is-invalid:focus, .form-control.is-valid:focus {
                box-shadow: none;
            }

            .form-control.is-valid ~ label {
                color: $green;
            }

            .form-control.is-valid {
                border-color: $green;
            }
        }
    }

    .form {
        textarea.form-control {
            height: auto;
        }

        .form-control {
            background: #F4F4F4;
            border: 1px solid #E3E3E3;
            box-sizing: border-box;
            border-radius: 5px;
            padding: 20px;
            height: 52px;
            font-size: 14px;

            ::placeholder {
                font-weight: normal;
                font-size: 14px;
                line-height: 14px;
                color: #9F9F9F;
            }
        }

        .form-control-container {
            position: relative;
        }

        .show-password {
            position: absolute;
            right: 20px;
            top: 15px;

            :hover {
                cursor: pointer;
            }
        }
    }

    input[type="checkbox"].beeclub-switcher {
        position: relative;
        appearance: none;
        outline: none;
        width: 60px;
        height: 30px;
        background-color: #ffffff;
        border: 3px solid $tertiary-gray;
        border-radius: 50px;
        box-shadow: inset -30px 0 0 0 $tertiary-gray;
        transition-duration: 200ms;
        vertical-align: middle;
    }

    input[type="checkbox"].beeclub-switcher:after {
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        width: 23px;
        height: 23px;
        background-color: transparent;
        border-radius: 50%;
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    }

    input[type="checkbox"].beeclub-switcher:checked {
        border-color: $primary-yellow;
        box-shadow: inset 30px 0 0 0 $primary-yellow;
    }

    input[type="checkbox"].beeclub-switcher:checked:after {
        left: 30px;
        box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
    }
}


