//Colors
$grey: #EEEEEE;
$light-grey: #f4f4f4;
$dark-grey: #666E80;
$yellow: #F0B200;
$light-yellow: #FFDB4D;


$green: #00A454;
$black: #000000;
$blue: #1990FE;
$white: #fff;
$red: #EB5757;
$orange: #F78C07;

$yellow1: #FDD900;
$yellow2: #FFF6CB;
$gray1: #252524;
$gray2: #9F9F9F;
$gray3: #E3E3E3;
$gray4: #F4F4F4;