.empty {
    padding: 64px 0;
    background-color: $white;

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__img {
        margin: 0 0 30px;
    }

    &__heading {
        margin: 0 0 16px;
        font-weight: bold;
        font-size: 36px;
        line-height: 26px;
        color: $black;
    }

    &__description {
       margin: 0 0 30px;
      font-size: 16px;
      line-height: 14px;
      color: $black;
    }

    &__btn {
        max-width: 290px;
    }
}

.cart-page {

    .container {
        padding-top: 28px;
        padding-bottom: 64px;
    }

    .breadcrumb {
        margin: 0 0 32px;
    }
}
