.promotions {
    padding: 0 0 64px;
    background-color: $white;

    .delivery {
        margin: 0 0 30px;
        padding: 28px 0 30px;
    }

    .breadcrumb {
        margin: 0;
    }

    .contact {
        padding: 64px 0 0;
    }

    &__heading {
        margin: 0;
        padding-bottom: 30px;
        font-size: 36px;
        line-height: 26px;
        color: $black;
        border-bottom: 1px solid $grey;
    }

    &__shop {
        padding: 30px 0;
        display: flex;
    }

    &__shop-logo {
        width: 95px;
        height: 93px;
        margin-right: 20px;
        max-width: 100%;
        border: 1px solid $tertiary-gray;
    }

    &__shop-name {
        margin: 22px 0 7px 0;
        font-weight: bold;
        font-size: 24px;
        line-height: 20px;
        color: $black;
    }

    &__item {
        display: flex;
        flex-direction: column;
        padding: 30px 30px 0 30px;
        min-height: 220px;
        background: linear-gradient(180deg, #35353D 0%, #292A2F 100%);
        transition: all .3s linear;

        &:hover {
            box-shadow: 0 4px 11px rgba($primary-gray, 0.35);
        }
    }

    &__item-heading {
        margin: 0 0 8px;
        font-weight: bold;
        font-size: 24px;
        line-height: 20px;
        color: $white;
    }

    &__item-descr {
        margin: 0 0 8px;
        font-weight: normal;
        font-size: 14px;
        line-height: 12px;
        color: $white;
    }

    &__item-img {
        margin-top: auto;
        margin-left: auto;
    }


    // .row {
    //    &:last-of-type {
    //       .promotions__item {
    //          margin-bottom: 0;
    //       }
    //    }
    // }


    // .col-3 {

    //     &:first-of-type {
    //         .promotions__item {
    //             background: url(/img/promotions/check.png) center center / cover no-repeat;

    //             &_green-gradient {
    //                 background: linear-gradient(180deg, #7BB51C 0%, rgba(123, 181, 28, 0) 58.59%), url(/img/promotions/check.png) center center / cover no-repeat;
    //             }

    //             &_orange-gradient {
    //               background: linear-gradient(180deg, #EE7203 0%, rgba(238, 114, 3, 0) 58.59%), url(/img/promotions/check.png) center center / cover no-repeat;
    //             }

    //             &_blue-gradient {
    //               background: linear-gradient(180deg, #0078D7 0%, rgba(0, 120, 215, 0) 58.59%), url(/img/promotions/check.png) center center / cover no-repeat;
    //             }
    //         }
    //     }

    //     &:nth-of-type(2) {
    //         .promotions__item {
    //             background: $quaternary-gray url(/img/promotions/discount.png) center bottom / 90% no-repeat;

    //             &_green {
    //                 background: #7BB51C url(/img/promotions/discount.png) center bottom / 90% no-repeat;
    //             }

    //             &_orange {
    //                background: #EE7203 url(/img/promotions/discount.png) center bottom / 90% no-repeat;
    //             }

    //             &_blue {
    //               background: #0078D7 url(/img/promotions/discount.png) center bottom / 90% no-repeat;
    //            }
    //         }
    //     }

    //     &:nth-of-type(3) {
    //         .promotions__item {
    //             background: #242424 url(/img/promotions/appstore.png) center bottom / 50% no-repeat;
    //         }
    //     }
    // }





    // &__shop-link {
    //     font-size: 14px;
    //     line-height: 12px;
    //     color: $blue;
    //     transition: all .3s linear;
    // }

    // &__item {
    //     margin: 0 0 48px;
    //     display: flex;
    //     flex-direction: column;
    //     min-height: 262px;
    //     padding: 24px 30px;
    //     transition: all .3s linear;

    //     &:hover {
    //         box-shadow: 0 4px 11px rgba($primary-gray, 0.35);
    //     }

    //     &_empty {
    //         justify-content: center;
    //         align-items: center;
    //         border: 2px solid $primary-yellow;
    //         border-radius: 8px;
    //     }

    //     &_color-black {

    //         div {
    //             color: #242424;
    //         }
    //     }


    // }

    // &__item-img {
    //     max-width: 100%;
    // }

    // &__item-bonus {
    //     margin: 0 0 8px;
    //     font-weight: bold;
    //     font-size: 20px;
    //     line-height: 22px;
    //     color: $white;
    // }

    // &__item-descr {
    //     font-size: 14px;
    //     line-height: 18px;
    //     color: $white;
    // }
}
